{% extends "base.html" %}

{% block title %}
Create post
{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="mb-3">
         <form method="post" action={% if post %} "{% url 'vlads_app:post_update' question_id=question.id  %}"
        {% endif %}>
            {% csrf_token %}
            {{ form.as_p }}
            {% if action == post %}
                <button type="submit" class="btn btn-primary col-md-4">Update Post</button>
            {% else %}
                <button type="submit" class="btn btn-primary col-md-4">Create Post</button>
            {% endif %}
        </form>

    </div>
</div>
{% endblock %}