{% extends "backends/base.html" %}
{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}
<div class="container-xl">
    <div class="card mb-4 mt-4">
        <div class="card-body">

            <p class="card-text"><h6>{{ question.title }}</h6></p>
            {{ question.content }}
            <hr>
            <footer>

                <p class="card-text">
                    {% if question.author.image %}
                    <img src="{{ question.author.image.url }}" width="30" height="30">&nbsp;
                    {% else %}
                    {% load static %}
                    <img src={% static 'static_files/defoult_prof_pict/img.png' %} width="30" height="30" alt="logo">&nbsp;
                    {% endif %}
                    <small class="text-muted">{{ question.author }} {{ question.created_at|date:"M. d. Y H:i" }}</small>
                    {% if request.user == question.author and request.user.is_staff %}
                    <a href="{% url 'vlads_app:post_update' question.id %}" role="button"
                       style="text-decoration: none;">&nbsp;&nbsp;Update</a>
                    <a href="{% url 'vlads_app:delete_question' question.id %}" role="button"
                       style="text-decoration: none;">&nbsp;&nbsp;Delete</a>
                    {% elif request.user == question.author %}
                    <a href="{% url 'vlads_app:post_update' question.id %}" role="button"
                       style="text-decoration: none;">&nbsp;&nbsp;Update</a>
                    {% endif %}
                </p>
            </footer>
        </div>
    </div>


    <h5>Answers:</h5>
    {% for item_answer in answer %}
    <div class="card mt-4">
        <div class="card-body">
            <p class="card-text">{{ item_answer.content }}</p>
            <hr>
            <p class="card-text">
                <small class="text-muted">
                    {% if item_answer.author.image %}
                    <img src="{{ item_answer.author.image.url }}" width="30" height="30">&nbsp;
                    {% else %}
                    {% load static %}
                    <img src="{% static 'static_files/defoult_prof_pict/img.png' %}" width="30" height="30" alt="logo">&nbsp;
                    {% endif %}
                    {{ item_answer.author.username }}
                    {{ item_answer.created_at|date:"M. d. Y H:i" }}
                </small>
                {% if request.user == item_answer.author or request.user.is_staff == item_answer.author %}
                <a href="{% url 'vlads_app:update_comment' question.id item_answer.id 0 %}" role="button"
                   style="text-decoration: none;">&nbsp;&nbsp;Update</a>
                <a href="{% url 'vlads_app:delete_answer' question.id item_answer.id %}" role="button"
                   style="text-decoration: none;">&nbsp;&nbsp;Delete</a>
                {% if request.user.is_staff and request.user.is_staff != item_answer.author %}
                <a href="#formreply" style="text-decoration: none;"
                   onclick="formReply( '{{ item_answer.author.username }}', '{{ item_answer.id }}' )">&nbsp;&nbsp;Reply</a>
                {% endif %}
                {% elif request.user != item_answer.author %}
                <a href="#formreply" style="text-decoration: none;"
                   onclick="formReply( '{{ item_answer.author.username }}', '{{ item_answer.id }}' )">Reply</a>
                {% endif %}
            </p>
        </div>
    </div>


    {% for item_comment in comment %}
    {% if item_comment.answer_id == item_answer.id %}
    <div class="card mt-1 ms-5">
        <div class="card-body">
            <p class="card-text">{{ item_comment.content }}</p>
            <hr>
            <p class="card-text">
                <small class="text-muted">
                    {% if item_comment.author.image %}
                    <img src="{{ item_comment.author.image.url }}" width="30" height="30">&nbsp;
                    {% else %}
                    {% load static %}
                    <img src="{% static 'static_files/defoult_prof_pict/img.png' %}" width="30" height="30" alt="logo">&nbsp;
                    {% endif %}
                    {{ item_comment.author.username }} {{ item_comment.created_at|date:"M. d. Y H:i" }}
                </small>

                {% if request.user == item_comment.author or request.user.is_staff %}
                <a href="{% url 'vlads_app:update_comment' question.id item_comment.answer_id item_comment.id  %}"
                   role="button"
                   style="text-decoration: none;">&nbsp;&nbsp;Update</a>
                <a href="{% url 'vlads_app:delete_comment' question.id question.id item_comment.id %}" role="button"
                   style="text-decoration: none;">&nbsp;&nbsp;Delete</a>
                {% if request.user.is_staff and request.user != item_comment.author %}
                <a href="#formreply" style="text-decoration: none;"
                   onclick="formReply('{{ item_comment.author.username }}', '{{ item_comment.answer_id }}')">&nbsp;&nbsp;Reply</a>
                {% endif %}

                {% elif request.user != item_comment.author %}
                <a href="#formreply"
                   onclick="formReply('{{ item_comment.author.username }}', '{{ item_comment.answer_id }}')">Reply</a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% endfor %}
    <div class="item mt-4">
        <form action="." method="POST" id="formreply">
            {% csrf_token %}
            <input type="hidden" name="reply_to" id="id_reply_form" value="">

            <label for="content_comment" class="form-control">Текст комментария</label>
            <textarea class="form-control" id="content_comment" name="content" required=""></textarea>
            <button type="submit" class="btn btn-primary col-md-4">Comment</button>
        </form>
    </div>
</div>
<script>
    function formReply(name, id) {
        document.getElementById("id_reply_form").value = id;
        document.getElementById("content_comment").innerText = `${name}, `
    }
</script>
{% endblock %}

