{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}


{% block content %}
<div class="container-xl">
    <div class="card mb-3 mt-4">
            <div class="card-body">
                <p class="card-text"><img src="{{ profile.image }}" width="250" height="250"></p>
                <p class="card-text">Name: {{ user.first_name }}</p>
                <p class="card-text">Surname: {{ user.last_name }}</p>
                <p class="card-text">Email: {{ user.email }}</p>
                <p class="card-text">Joined us: {{ user.date_joined }}</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
