{% extends "base.html" %}
{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}
<div class="container-xl">
    <div class="card mb-4 mt-4">
        <div class="card-body">
            <p class="card-text">{{ question.title }}</p>
            <hr>
            <footer>
                <p class="card-text"><small class="text-muted">{{ question.author }} {{ question.created_at}}</small></p>
            </footer>
        </div>
    </div>


    {% if comment %}
    <h5>Answers:</h5>

    {% for reply in item_comment.replies.all %}
        {{reply.author}}
        {{reply.created_at.date}}
        {{reply.content}}
    {% endfor %}

    {% for item_comment in comment %}
    {% if not item_comment.reply_id %}
    <div class="card mt-4">
        <div class="card-body">
            <p class="card-text">{{ item_comment.content }}</p>
            <hr>
            <p class="card-text"><small class="text-muted">{{ item_comment.author }} {{ item_comment.created_at }}</small>
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample{{item_comment.id}}"
                   role="button" aria-expanded="false" aria-controls="collapseExample">
                    Reply </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if item_comment.reply_id %}
    <div class="card mt-1 ms-5">
        <div class="card-body">
            <p class="card-text">{{ item_comment.content }}</p>
            <hr>
            <p class="card-text"><small class="text-muted">{{ item_comment.author }} {{ item_comment.created_at }}</small>
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample{{item_comment.id}}"
                   role="button" aria-expanded="false" aria-controls="collapseExample">
                    Reply </a>
            </p>
        </div>
    </div>
    {% endif %}
    <div class="collapse" id="collapseExample{{item_comment.id}}">
        <div class="item mt-4">
            <form action="." method="POST" id="formreply">
                {% csrf_token %}
                <div class="form-group">
                    {{ form_comment.content }}
                </div>
                <input type="hidden" name="reply_id" value="{{ item_comment.id }}">
                <button type="submit" class="btn btn-primary col-md-4">Comment</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="item mt-4">
        <form action="." method="POST">
            {% csrf_token %}
            {{ form_comment.as_p }}
            <button type="submit" class="btn btn-primary col-md-4">Comment</button>
        </form>
    </div>
</div>
{% endblock %}

